* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
            html, body {
            max-width: 100%;
            overflow-x: hidden;
                }
            body { 
            font-family: 'Poppins', sans-serif;
            }

        header {
            width: 100%;
            min-height: 100vh;
            background: url('bg-image.png') no-repeat center/cover;
            overflow-x: hidden;
            color: white;
        }
        .main-content,footer,section,nav,.products,.members,.blogs,.footersec2 {
            overflow-x: hidden;
            max-width: 100%;
        }
         @media (max-width: 768px) {
            html, body {
                overflow-x: hidden;
            }
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: #EAE9E8;
            margin: 8px 0;
            margin-bottom: 2%;
        }
        .texts{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .text1,.text2{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 150%;
color:#BDBAB8;
/* margin-top: 2%; */
margin-left: 3%;
margin-right: 3%;
        }

       .part-two{
        flex-direction: column;
        margin-top:9%;
        display: inline-block;
        margin-left:15%;
       }
 #headfur{
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
color:#E6E9EE;
margin-top: -2%;
       }
       #headfur2{
font-size:34px;
font-style: normal;
font-weight: 700;
line-height: 110%;
color: white;
margin-bottom: 2%;
       }
       #para{
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
color:#E6E9EE;
width: 40%;
margin-bottom: 3%;
       }
       .part-two button{
        padding: 12px 26px;
        background-color:#E86000;
        border: none;
       }

        .section1 {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 20px;
        }

        h3 {
            width: 93;
            height: 20;
            position: relative;
            top: -160px;
            color: #FFFFFF;
            font-weight: 500;
            font-style: Medium;
            font-size: 13px;
            line-height: 150%;
            letter-spacing: 0%;
            left: 15px;
        }

        .des {
            width: 230px;
            height: 29px;
            position: relative;
            top: -150px;
            left: 15px;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 23px;
            line-height: 120%;
            letter-spacing: 0%;
            color: white;
            display: inline;
        }

        .section1 .line {
            background-color: #E6E9EE;
            width: 30%;
            position: relative;
            top: -148px;
            left: 15px
        }

        .heading {
            text-align: center;
        }

        .heading small {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: #FF6900;
        }

        .heading h1 {
            color: #18130F;
            font-size: 34px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
        }

        .products {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 4%;
            margin-bottom: 8%;
        }

        .product-card {
            width: 310px;
            height: 370px;
            flex-shrink: 0;
            color: #FFF;
            box-shadow: 0 0 36px 4px rgba(0, 0, 0, 0.06);
        }

        .product-card img {
            width: 263px;
            height: 263px;
            flex-shrink: 0;
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        }

        .product-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: #271F19;
            margin-left: 6%;
        }

        .product-type {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: #554E49;
            margin-left: 6%;
        }

        .product-price {
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: #271F19;
            margin-left: 70%;
            margin-top: -13%;
        }

        .reviews {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 4%;
            margin-bottom: 8%;
        }

        .review {
            width: 400px;
            height: 262px;
            flex-shrink: 0;
            background: var(--white, #FFF);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
            margin-right: 1%;
        }

        #customer {
            width: 70px;
            height: 70px;
            flex-shrink: 0;
            border-radius: 70px;
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
            position: relative;
            left:13%;
            top: 5%;
        }

        .name {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            color: #001331;
            position: relative;
            left:32%;
            top: -21%;
        }

        .post {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: #9D9996;
            position: relative;
            left: 33.5%;
            top: -20%;
        }

        .about {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            color: #9D9996;
            position: relative;
            left:13%;
            top: -5%;
            width: 70%;
        }

        #star {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            position: relative;
            left:14%;
            top: 8%;
        }

        .svg-icons {
            text-align: center;
            margin-bottom: 8%;
        }

        svg {
            width: 64px;
            height: 64px;
            flex-shrink: 0;
        }

        .section4 {
            margin-bottom: 5%;
        }
        .top-part {
            background: var(--Divi-Themes-Colors-Blue-blue-800, #001331);
            min-width: 100%;
            min-height: 399.448px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .top-part small {
            width: 170px;
            height: 23.967px;
            flex-shrink: 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: #BDBAB8;
            margin-top: -10%;
        }

        .top-part h1 {
            width: 350px;
            height: 52.927px;
            flex-shrink: 0;
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            color: #EAE9E8;
        }
        @media screen and (max-width:350px) {
            .top-part h1{
            width: 376px;
            height: 52.927px;
            flex-shrink: 0;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            color: #EAE9E8;
            text-align: center;
            }
        }
        .members {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            margin-top: -10%;
            flex-wrap: wrap;
        }

        .members img {
            width: 295px;
            height: 422.416px;
            flex-shrink: 0;
            background: url(<path-to-image>) lightgray -197.088px 0px / 219.043% 101.891% no-repeat;
        }

        .mem-card {
            width: 270px;
            height: 401.416px;
            flex-shrink: 0;
            background: url(<path-to-image>) lightgray -197.088px 0px / 219.043% 101.891% no-repeat;
        }

        .mem-name {

            flex-shrink: 0;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            color: #001331;
        }

        .mem-post {
            width: 88px;
            height: 23.967px;
            flex-shrink: 0;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: #554E49;
        }

        .blogs {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 0 20px;
            margin-top: 8%;
        }

        .blog {
            background-color: #fff;
            width: 330px;
            height: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 8px;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
            padding: 3px;
        }

        .blog img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 8px;
        }

        .blog h3 {
            font-size: 20px;
            font-weight: 500;
            color: #18130F;
            margin-top: 12px;
            line-height: 120%;
        }

        .blog p {
            font-size: 16px;
            color: #554E49;
            margin-top: 8px;
            line-height: 150%;
        }

        .blog a {
            font-size: 16px;
            font-weight: 500;
            color: #FF6900;
            display: inline-block;
            margin-top: 12px;
        }

        @media (max-width: 768px) {
            .blogs {
                flex-direction: column;
                align-items: center;
            }

            .blog {
                width: 90%;
            }
        }

        @media screen and (max-width:1000px) {
            .blog h3 {
                position: relative;
                top: 10%;
                left: -1%;
            }
        }

        @media screen and (min-width:725px) {
            .blog h3 {
                position: relative;
                top: -2%;
            }
        }

        .section5 {
            margin-bottom: 8%;
        }

        .footersec1 {
    width: 100%;
    padding: 40px 20px;
    background-color: #FFF0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

aside h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #18130F;
    margin-bottom: 8px;
    position: relative;
    top: 40%;
}

aside p {
    color: #FF6900;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    /* border-radius: 4px; */
    width: 90%;
    max-width: 470px;
    height: 56px;
    padding: 0 8px;
    box-sizing: border-box;
    position: relative;
}

.input p {
    font-size: 13px;
    font-weight: 500;
    color: #9D9996;
    margin: 0;
}

.signin {
    background-color: #FE764D;
    padding: 17px 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 4px; */
}

footer {
    max-width: 100%;
    background-color: #000F25;
    color: #FFF;
}

.footersec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 20px;
    gap: 30px;
}

.fur-head {
    font-family: 'Iceberg', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 10px;
}

.furniture p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #FFF;
    max-width: 250px;
    margin-top: 12%;
}

.m {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footersec2 h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footersec2 a {
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 4px;
}
.payment-methods p {
    font-size: 13px;
    max-width: 200px;
    margin-bottom: 12px;
}
.social-media{
      display: flex;
      flex-direction: row;
      gap:0.5%;
      margin-left: -5%;
      margin-top: 4%;
      flex-wrap: wrap;
    }
    .social-media a{
      background: #000F25;
      width: 40px;
height: 40px;
flex-shrink: 0;
border-radius: 50%;
    }
    .social-media img{
      position: relative;width: 24.373px;
height: 17.143px;
flex-shrink: 0;
      left:27%;
      top:25%;
      width: 17.373px;
    }
.accounts {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.accounts img {
    max-width: 60px;
    height: auto;
}
@media (max-width: 768px) {
    .footersec1 aside h3 {
        font-size: 1.8rem;
    }
    .input {
        flex-direction: column;
        height: auto;
        padding: 12px;
        gap: 12px;
    }
    .signin {
        position: static;
        width: 100%;
        text-align: center;
    }
    .input p {
        position: static;
        text-align: center;
        width: 100%;
    }
    .footersec2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .furniture p,
    .payment-methods p {
        margin: 0 auto;
    }
    .accounts {
        justify-content: center;
    }
    .social-media{
      display: flex;
      flex-direction: row;
      gap:0.5%;
      margin-left: -5%;
      margin-top: 4%;
      flex-wrap: wrap;
      position: relative;
      left: 15%;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0 3% 0 3% ;

}
big{
font-family: 'Iceberg',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mid-nav{
    display: flex;
    gap:10%;
}
.end-nav{
    display: flex;
    gap: 4%;
}
.mid-nav a{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
color: white;
text-decoration: none;
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}
#home{
    color:#FF6900;
}
.end-nav img{
width: 20px;
height:20px;
}
.responsive img{
    visibility: hidden;
    max-width: 100%;
            height: auto;
}
@media screen and (max-width:800px) {
    .part-one{
        visibility: hidden;
    }
    .responsive::before{
        content:"Furnitures";
        position: relative;
left: -20%;
font-weight: 700;
    }
    .responsive{
        width: 100%;
        height: 13vh;
        background-color:#001331;
font-family: 'Iceberg',sans-serif;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
padding-top:3.5%;
}
.responsive img{
    visibility: visible;
    position: relative;
    left: 20%;
}
.part-two{
        flex-direction: column;
        margin-top:9%;
        display: inline-block;
        margin-left:15%;
        margin-top:-3%;
        padding-left: 3%;
       }
 #text{
       font-size: 17px;
       font-style: normal;
       font-weight: 400;
       line-height: 150%; 
       color:#E6E9EE;
       width: 90%;
       margin-bottom: 3%;
       } 
}
@media screen and (max-width:300px) {
    .responsive img{
    visibility: visible;
    position: relative;
    left:-20%;
}
}
.responsive{
     width: 100%;
     overflow-x: hidden;
}
.footersec3 {
display: inline-flex;
padding: 16px 637px;
justify-content: center;
align-items: center;
gap: 10px;
background: #fff;
}
.text1 {
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
color: var(--Divi-Themes-Colors-Gray-Gray-200, #9D9996);
}